.venv/
*.egg-info
__pycache__/
build/
dist/
.coverage
.tox/

/src/pyschemata/schemastore/catalog.json
/src/pyschemata/schemastore/catalog.sha256
/src/pyschemata/schemastore/json/*.json
/src/pyschemata/schemastore/json/*.sha256
